<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaA6yUJkyZIu2_n_V43qXXNcMcCMFix8k</string>
	<key>GCM_SENDER_ID</key>
	<string>844279800663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>expensetracker-5bee3</string>
	<key>STORAGE_BUCKET</key>
	<string>expensetracker-5bee3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844279800663:ios:3d9829e9dbccf46c249412</string>
</dict>
</plist>